<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
      rel="stylesheet"
    />
    <link href="static/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>
    <link rel="stylesheet" href="static/chart/css/style1.css" />
    <link rel="stylesheet" href="static/chart/css/app.css" />
    <link rel="stylesheet" href="static/chart/css/test.css" />
    <link rel="stylesheet" href="static/chart/css/pie3D.css" />
    <link rel="stylesheet" href="static/chart/css/wordcloud.css" />
    <link rel="stylesheet" href="static/chart/css/created.css"/>
    <link rel="stylesheet" href="static/chart/css/style.css" />
   
  </head>
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand  navbar-dark"  style="background-color: #108783;">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="index.html">Crime</a>
      <!-- Sidebar Toggle-->
      <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!"
      >
        <i class="fas fa-bars"></i>
      </button>
    </nav>

    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background-color: #108783;">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <a class="nav-link" href="/dashboard">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>
              <a class="nav-link" href="/logout">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-sign-out-alt"></i>
                </div>
                logout
              </a>
          
              
              <a class="nav-link" href="/charts">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-chart-area"></i>
                </div>
                Charts
              </a>
              <a class="nav-link" href="/maps">
                <div class="sb-nav-link-icon"><i class="fa fa-map"></i></div>
                Map
              </a>
            </div>
          </div>
          <div class="sb-sidenav-footer" style="background-color: #108783;">
            <div class="small">Logged in as:</div>
            {{ fullname }}
          </div>
        </nav>
      </div>

      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4" style="color: #d32278ff">Map</h1>
            <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Analytics Map</li>
            </ol>
           <div class="row">     
            <div class="col-12 col-md-12 col-xxl-6 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                  <div class="card-header">
                    <h5 class="card-title mb-0">
                      shared tweets
                    </h5>
                  </div>
                  <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                      <div class="py-3">
                        <div class="chart chart-xs">
                            <div id="containermap"></div>
                            <p>This map is showing number of tweets shared in each country</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-12 col-xxl-6 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                  <div class="card-header">
                    <h5 class="card-title mb-0">
                      
                    </h5>
                  </div>
                  <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                      <div class="py-3">
                        <div class="chart chart-xs">
                            <div id="containermap1"></div>
                            <p>This map is showing location of inlfuncers in each country</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

           </div>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2022</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/scripts.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/datatables-simple-demo.js"></script>
    <script src="static/charts/map.js"></script>
  </body>
</html>
